.container {
    width: 90% !important;
}

.bigText {
    font-size: max(3.5em, 15vw);
}

.titleGetStartedBtn {
    border-color: transparent !important;
}

.titleDownloadBtn {
    text-decoration: none;
    margin-bottom: 20px;
    min-width: 150px;
    font-size: 1.5rem;
}

.landingHeader {
    font-size: 2em;
}

.landingText {
    font-size: 1.5em;
}

.inspectImageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.inspectImage {
    margin: 0 auto 50px;
}

.inspectCopy {
    margin: 100px auto 50px;
}

.spacer {
    height: 6rem;
}

.titleSecondLine {
    margin-bottom: 20px;
}

.splash {
    margin: 0 auto 50px;
    display: block;
    width: min(70%, 300px);
}

@media screen and (min-width: 576px) {
    .landingHeader {
        font-size: 2.5em;
    }

    .landingText {
        font-size: 2em;
    }
}

@media screen and (min-width: 768px) {
    .landingHeader {
        font-size: 3em;
    }

    .bigText {
        font-size: 100px;
    }

    .splash {
        margin: 0 auto 50px;
        display: block;
        width: 589px;
    }
}

@media screen and (min-width: 992px) {
    .inspectCopy {
        margin: 200px auto 300px;
    }
}

@media screen and (min-width: 1200px) {
    .splash {
        margin: 75px 100px 0 auto;
    }

    .titleDownloadBtn {
        margin-top: 40px;
    }

    .title {
        margin-top: 375px;
    }

    .inspectCopy {
        margin: 200px auto 300px;
    }
}

@media screen and (min-width: 1400px) {

}