.container {
    width: 90% !important;
}

.mainText {
    font-size: max(3.5em, 15vw);
}

.mainTextSmall {
    font-size: min(2em, 10vw);
}

.smSpacer {
    height: 3rem;
}

.topSpacer {
    height: 1rem;
}

.permissionChildren {
    width: 100%;
}

@media screen and (min-width: 540px) {
    .permissionChildren {
        width: 50%;
    }

    .permissionChildren:not(:only-child):not(:last-child):nth-child(odd) {
        border-top-right-radius: unset;
        border-bottom-right-radius: unset;
    }

    .permissionChildren:nth-child(even) {
        border-top-left-radius: unset;
        border-bottom-left-radius: unset;
    }

    .permissionChildren:last-child {
        margin-right: unset;
    }

    .permissionChildren:last-child:nth-child(odd) {
        width: 100%;
    }

    .permissionChildren:only-child {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .mainText {
        font-size: 90px;
    }

    .mainTextSmall {
        font-size: 60px;
    }
}