.container {
    width: 90% !important;
}

.mainText {
    font-size: max(3.5em, 15vw);
}

.mainTextSmall {
    font-size: max(2em, 10vw);
}

.smSpacer {
    height: 3rem;
}

.topSpacer {
    height: 1rem;
}

@media screen and (min-width: 768px) {
    .mainText {
        font-size: 90px;
    }

    .mainTextSmall {
        font-size: 60px;
    }
}