@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Roboto&family=Urbanist&display=swap');

$primary: #e9004c;
$secondary: #95989d;
$success: #008F48;
$danger: #BF002F;
$warning: #FADA5E;
$info: #0d6efd;
$light: #f2f3f6;
$dark: #060f19;

:root {
    --bs-font-sans-serif-header: "Urbanist", "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    --bs-font-sans-serif: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    --bs-font-monospace: "JetBrains Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
}

h1, h2, h3, h4, h5, h6, th .text-header {
    font-family: var(--bs-font-sans-serif-header);
}

h1, h2, h3, h4, h5, h6, th {
    color: $primary;
}

p, span, td {
    color: $light;
}

a {
    color: $primary;
}

th {
    font-weight: normal;
}

button, .btn-primary, .btn-secondary, .btn-success, .btn-danger, .btn-warning, .btn-info, .btn-light, .btn-dark {
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    box-shadow: 0 .5rem 1rem rgba(#000, .3) !important;
}

button, .btn-primary:focus, .btn-secondary:focus, .btn-success:focus, .btn-danger:focus, .btn-warning:focus, .btn-info:focus, .btn-light:focus, .btn-dark:focus, .btn-primary:active, .btn-secondary:active, .btn-success:active, .btn-danger:active, .btn-warning:active, .btn-info:active, .btn-light:active, .btn-dark:active {
    box-shadow: 0 .5rem 1rem rgba(#000, .1) !important;
}

.btn-group > button, .btn-group > .btn-primary, .btn-group > .btn-secondary, .btn-group > .btn-success, .btn-group > .btn-danger, .btn-group > .btn-warning, .btn-group > .btn-info, .btn-group > .btn-light, .btn-group > .btn-dark {
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    box-shadow: none !important;
}

.btn-group > button, .btn-group > .btn-primary:focus, .btn-group > .btn-secondary:focus, .btn-group > .btn-success:focus, .btn-group > .btn-danger:focus, .btn-group > .btn-warning:focus, .btn-group > .btn-info:focus, .btn-group > .btn-light:focus, .btn-group > .btn-dark:focus, .btn-group > .btn-primary:active, .btn-group > .btn-secondary:active, .btn-group > .btn-success:active, .btn-group > .btn-danger:active, .btn-group > .btn-warning:active, .btn-group > .btn-info:active, .btn-group > .btn-light:active, .btn-group > .btn-dark:active {
    box-shadow: none !important;
}

.btn-group {
    box-shadow: 0 .5rem 1rem rgba(#000, .3) !important;
}

.btn-group:focus, .btn-group:active {
    box-shadow: 0 .5rem 1rem rgba(#000, .1) !important;
}

.text-paragraph {
    font-family: var(--bs-font-sans-serif);
}

.btn-flat, .btn-flat:hover, .btn-flat:active, .btn-flat:checked {
    box-shadow: none !important;
}

code, kbd, .text-monospace {
    font-family: var(--bs-font-monospace);
}

@import "../../node_modules/bootstrap/scss/bootstrap";